.fixed-button {
    position: fixed;
    top: 85%;
    left: 90%;
    
  }

  .butinup{
    font-size: 40px;
    /* margin-bottom: 1rem; */
    color: black;
    /* margin-right: 1rem; */
}
.form-control{
    /* -webkit-appearance: none; */
    /* appearance: none; */
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #afc2d6;
    border-radius: 0.25rem;
    color: #212529;
    display: block;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* width: 100%; */
    /* margin-bottom: 1rem; */
}



@media screen and (max-width: 900px) {
  .fixed-button {
    position: fixed;
    top: 82%;
    left: 65%;
    
  }

}